/* 重置所有margin及padding */
* {
    padding: 0;
    margin: 0;
}

/* 不加這一段 右邊的行數會排到左邊的下面 */
* {
    box-sizing: border-box;
}

/* body 設定背景圖(色) */
body {
    background-color: #FFF1CF;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 30px;
    
}

/* 網頁內容最外層包裝, 主要是用margin來做左右置中 */
#wrapper {
    margin: 0 auto;
    width: 1500px;
    background-color: #E5E8BC;
}

#header {
    height: 150px;
    position: relative;
    background-color: #EBFFCF;
}

#header p {
    float: left;
    background-color: #FFC694;
    display: inline-block;
    color: #fff;
    font-size: 50px;
    font-weight: normal;
    margin: 0;
    text-align: left;
    width: 470px;
}

#header span {
    background-color: #7C7C7C;
    display: inline-block;
    font-size: 50px;
    padding: 10px;
}

td{
    padding: 3px;
   border:2px solid #AAAAAA; 
    
}

#footer img{
    width: 100px;
    height:100px;
    float: right;
}
#one{
    color:#666666
}
#three{
    color:#666666
}
#two{
    color:#8C0044
}
#four{
    color:#8C0044
}

