/* 重置所有margin及padding */
* {
    padding: 0;
    margin: 0;
}

/* body 設定背景圖(色) */
body {
    background-color: #FFF1CF;
    font-family: 'Noto Sans TC', sans-serif;
}

#header {
    height: 400px;
    position: relative;
    background-color: #EBFFCF;
}

#header p {
    float: left;
    background-color: #FFC694;
    display: inline-block;
    color: #fff;
    font-size: 50px;
    font-weight: normal;
    margin: 0;
    text-align: left;
    width: 450px;
}

#header span {
    background-color: #7C7C7C;
    display: inline-block;
    font-size: 50px;
    padding: 10px;
}
#header h1{
    clear:both;
}
.container {
    padding: 5px; 
     
    margin: 5px;
}
.card img{
    width: 600px;
    height: 400px;
    display: inline-block; 
    border: solid red 1px;
    margin: 10px;
    float: left;
    
}

#font1{
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    clear:both;
    text-align:center;
}
audio{
    float:left;
}

#footer img{
    width: 100px;
    height:100px;
    float: right;
}